<div class="row">
  <div class="col-md-12">
    <h3>Add Server or bluprint</h3>
    <label for="">Server name</label>
    <input type="text" class="form-control" [(ngModel)]="newServerName">
    <label for="">Server Content</label>
    <input type="text" class="form-control" [(ngModel)]="newServercontent">
    <hr>
    <button class="btn btn-primary" (click)="onAddserver()">Add New Server</button>
    <button class="btn btn-primary" (click)="onAddBluPrint()">Add New Blueprint</button>
  </div>

</div>
